form {
  display: table;
}

p {
  display: table-row;
}

label {
  display: table-cell;
  vertical-align: middle;
}

textarea {
  height: 1rem;
  display: table-cell;
  border: 2px #024777 solid;
  background-color: #333538;
  color: #FFFFFF;
}

input[type=submit] {
  padding: 5px 15px; 
  background: #FFFFFF; 
  border: 0 none;
  cursor: pointer;
  border-radius: 5px; 
}