body {
  font-family: 'Rokkitt', serif;
  background-color: #222222;
  color: #2FA5F8;
  width: 100%;
  height: 100%;
}

form {
  display: table;
}

p {
  display: table-row;
}

label {
  display: table-cell;
  vertical-align: middle;
}

textarea {
  height: 1rem;
  display: table-cell;
  border: 2px #024777 solid;
  background-color: #333538;
  color: #FFFFFF;
}

input[type=submit] {
  padding: 5px 15px; 
  background: #FFFFFF; 
  border: 0 none;
  cursor: pointer;
  border-radius: 5px; 
}

table {
  width: 100%;
  padding: 2% 10% 2% 10%;
}